@use '@blueconduit/copper/scss/01_settings/design-tokens' as dt;
@use '@blueconduit/copper/scss/02_tools/functions';
@use '@blueconduit/copper/scss/02_tools/mixins';


/** Colors */
/** TODO: Move colors to copper.*/
$light-grey: #A3A3A3;
$warm-grey-600: #757575;
$warm-grey-800: #464646;
$warm-grey-900: #212121;

$gold: #FFC300;
$white: #FFFFFF;

$light-blue-50: #E1F5FE;
$light-blue: #05A8F4;
$navy-blue: #2553A0;

/** Typography */
.body {
  @include mixins.typography-base();
}

.h1-header {
  @include mixins.typography-semi-bold();
  font-size: 24px;
  line-height: 34px;
}

.h1-header-large {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

.h1-header-xl {
  font-size: 54px;
  line-height: 60px;
  font-weight: 500;
}

.h2-header {
  @include mixins.typography-semi-bold();
  font-size: 18px;
}

.h2-header-large {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.medium {
  font-weight: 400;
}

.explain-text {
  color: #656565;
}

.navy {
  color: $navy-blue;
}

.link {
  font-size: 18px;
  color: $navy-blue;
}

/** Shadows */
$image-shadow: 0 4px 6px 2px rgba(70, 70, 70, 0.25);

/** Structure */

@mixin container-row {
  display: flex;
}

@mixin container-column {
  display: flex;
  flex-direction: column;
}

@mixin centered-container {
  @include container-column;
  justify-content: center;
}

.container-row {
  display: flex;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Buttons **/

.gold-button {

  background-color: dt.$support;
  border-radius: dt.$border-radius;
  box-shadow: dt.$button-shadow-default;
  color: dt.$text_dark;
  padding: functions.getSpacing("sm") functions.getSpacing("md");
  border: none;

  &:hover {
    background-color: dt.$support01;
    box-shadow: dt.$button-shadow-hovered;
  }
}

.grey-button {
  border-radius: dt.$border-radius;
  box-shadow: dt.$button-shadow-default;
  color: $warm-grey-800;
  padding: functions.getSpacing("sm") functions.getSpacing("md");
  border: none;

  &:hover {
    background-color: dt.$support01;
    box-shadow: dt.$button-shadow-hovered;
  }
}