@use '@blueconduit/copper/scss/01_settings/design-tokens' as *;
@use '@blueconduit/copper/scss/02_tools/functions';
@use '@blueconduit/copper/scss/02_tools/mixins';


/** Colors */
/** TODO: Move colors to copper.*/
$light-grey: #A3A3A3;
$warm-grey-600: #757575;
$warm-grey-800: #464646;
$warm-grey-900: #212121;

$gold: #FFC300;
$white: #FFFFFF;

$light-blue-50: #E1F5FE;
$light-blue: #05A8F4;
$light-blue-800: #0576BD;
$navy-blue: #2553A0;

/** Typography */
.body {
  @include mixins.typography-base();
}

a {
  color: $navy-blue;
}

@mixin centered-text {
  text-align: center;
}

.h1-header {
  font-size: 6 * $spacing-xs;
  line-height: 9 * $spacing-xs;
}

.h1-header-large {
  @include centered-text;

  font-size: 8 * $spacing-xs;
  line-height: 15 * $spacing-xs;
  font-weight: 500;
}

.h1-header-xl {
  font-size: 10 * $spacing-xs;
  line-height: 15 * $spacing-xs;
  font-weight: 500;
}

.h2-header {
  font-size: 4.5 * $spacing-xs;
  font-weight: 500;
}

.h2-header-large {
  font-size: 5 * $spacing-xs;
  line-height: 7.5 * $spacing-xs;
  font-weight: 500;
}

.explain-text {
  color: #656565;
}

.navy {
  color: $navy-blue;
}

.link {
  font-size: 18px;
  color: $navy-blue;
}

/** Shadows */
$image-shadow: 0 4px 6px 2px rgba(70, 70, 70, 0.25);

/** Structure */

@mixin container-column {
  display: flex;
  flex-direction: column;
}

@mixin container-row {
  display: flex;
  flex-direction: row;
}

@mixin center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-column {
  @include container-column;
}

.container-row {
  @include container-row;
}

.center-container {
  @include center-container;
}

.header-section {
  @include container-column;
  @include center-container;
  gap: $spacing-md;
}

.section {
  @include container-column;
  @include center-container;
  gap: $spacing-md;
  padding: $spacing-lg $spacing-lg;
}

/** Buttons **/

@mixin button {
  border: none;
  border-radius: $border-radius;
  box-shadow: $button-shadow-default;
  padding: functions.getSpacing("sm") functions.getSpacing("md");

  &:hover {
    box-shadow: $button-shadow-hovered;
  }
}

.gold-button {
  @include button;

  background-color: $support01;
  color: $text_dark;

  &:hover {
    background-color: $support;
  }

  &:disabled {
    background-color: $support;
    color: $text_inactive
  }
}

.grey-button {
  @include button;
  color: $warm-grey-800;

  &:hover {
    background-color: $support01;
  }
}

/** Images **/
img {
  border-radius: $border-radius;
}