.button {
	&.is-primary {
		background-color: $primary;
		border-color: $primary;
		color: $link-hover;

		&:hover {
			background-color: #f7d694;
			border-color: $primary;
			color: $link-hover;
		}
	}
}

a:not(.button) {
	box-shadow: inset 0 -1px 0 var(--bc--link-color);
}
