.button {
	&.is-primary {
		background-color: $primary;
		border-color: $primary;
		color: $link-hover;
		font-weight: 600;

		&:hover {
			background-color: #f7d694;
			border-color: $primary;
			color: $link-hover;
		}
	}

	&.is-secondary {
		background-color: $white;
		border-color: $link;
		border-width: 2px;
		color: $link;
		font-weight: 600;

		&:hover {
			background-color: $link;
			color: $white;
		}
	}

	&.is-outline {
		height: 26px;
		background-color: $white;
		font-size: 0.875rem;
		font-weight: 700;
		border: 1px solid $link;
		border-radius: 23px;

		&.is-secondary {
			background-color: $link;
			border-color: $link;
			color: $white;
		}
	}
}

a:not(.button) {
	box-shadow: inset 0 -1px 0 var(--bc--link-color);
}

.mapboxgl-ctrl button:not(:disabled) {
	&:hover {
		background-color: $icon-button-hover;
	}
}
